__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.venv/
env.bak/
venv.bak/

.pytest_cache/
.mypy_cache/
.ruff_cache/
coverage.xml
.coverage

*.log

# macOS
.DS_Store

# VSCode / IDE
.vscode/
.idea/

